body{
	background:#FFA500;
}
h1{
	text-align:center;
	font-variant:all-small-caps;
	font-family:Verdana;
	box-sizing:border-box;
	display:block;
	border:1px solid #000000;
	margin: 0 All;
	padding:10px;
	background:#FFFFFF;
}
summary{
	background:#FFFFFF;
	font-variant:small-caps;
	font-family:Arial Black;
}
div{
	box-sizing:border-box;
	display:table-cell;
	overflow:auto;
	border:1px solid #000000;
	background:#ADFF2F;
	font-style:italic;
}
ol{
	background:#FFA07A;
}
footer{
	background:#FFA07A;
	float:right;
}
header{
	text-align:center;
}
table{
	background:#FFFFFF;
}
a{
	text-align:center;
}
